
section#dailyChart .c3-line {
  stroke-width: 2;
  fill: none;
}

.c3-axis-x .tick line {
    display: none;
}
section#dailyChart text {
  fill: #555555;
}

section#dailyChart .axis path,line {
  stroke: #555555;
}

section#dailyChart h3, h4 {
  text-align: right;
}
